body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.7;
}

main {
  max-width: 1000px;
  margin: 40px auto 80px auto; 
  padding: 30px 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
  margin-bottom: 40px;
}

h1, h2 {
  color: #d10024;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

#logos-clubes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 1rem;
}

#logos-clubes .escudo {
  object-fit: contain;
  height: clamp(55px, 10vw, 120px);
  width: auto;
}


.btn-collapse {
  background-color: #8B0000; /* Rojo oscuro */
  color: white;
  font-weight: bold;
  text-align: left;
}

.btn-collapse:hover {
  background-color: #a00000;
  color: white;
}

.rotate-icon {
  transition: transform 0.3s ease;
}

button[aria-expanded="true"] .rotate-icon {
  transform: rotate(180deg);
}

.card-collapse {
  border-left: 4px solid #8B0000;
  background-color: #f8f9fa;
}




@media (max-width: 600px) {
  main {
    padding: 20px;
    margin: 20px 15px 80px 15px; 
    font-size: 0.9rem;
    margin-top: 20vh;
  }

  #logos-clubes .escudo {
    margin-top: 5vh;
   size-adjust: auto;
  }


}